@font-face {
  font-family: "Pixel";
  src: url("files/Pixellari.ttf") format("truetype");
}

* {
  color: #fff;
  visibility: visible !important;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  background-color: #2d2d2d;
  min-width: 1000px;
}

h1 {
  text-align: center;
  font-family: "Pixel";
}

canvas {
  margin: 0 auto;
  display: block;
  margin-bottom:100px;
}

section.Anleitung {
  width: 1024px;
  margin: 0 auto;
}

section.Anleitung {
  width: 100%;
  height: 850px;
  display: inline-block;
  vertical-align: middle;
}

.img {
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 500px;
}

.img.one {
  background-image: url(img/Welcome_image.svg);
  height: 300px;
  width: 300px;
  position: absolute;
  left: 20vw;
}

.img.two {
  background-image: url(img/enemy_image.svg);
  height: 200px;
  width: 200px;
  position: absolute;
    left: 60vw;
    top: 440px;
}

.img.three {
  background-image: url(img/boss_image.svg);
  height: 150px;
  width: 150px;
  position: absolute;
  left: 26vw;
  top: 700px;
}

p.welcome {
  position: absolute;
  left: 50vw;
  width: 370px;
  top: 170px;
}

p.enemy {
  position: absolute;
  width: 300px;
  left: 20vw;
  text-align: right;
  top: 495px;
}

p.boss {
  position: absolute;
  left: 50vw;
  width: 300px;
  top: 750px;
}